@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: black;
    color: white;
}

.container{
    
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
}
.home{
    /* padding: 3px  */
}

.home ul li{
    margin: 10px;
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 15px;

    
}

.home ul li img{
    width: 18px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.ylib img{
    width: 18px;

}

.ylib{
    display: flex;
    gap: 18px;
    font-weight: bold;
    align-items: center;
    padding: 8px 13px;
    font-size: 15px;
}

.foot{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    position: absolute;
    bottom: 0;  
}

.foot a{
    color: white;
}

.hamburger{
    display: none;
}

.hamburgercont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.songList{
    height: 500px;
    overflow: auto;
    padding: 15px 2px;
}
.songList ul{
    margin:0px 15px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    cursor: pointer; 
    border: 2px solid white;
    border-radius: 7px;
    /* width: 300px; */
    padding: 5px 10px;
    margin: 10px 0px
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 10px; */
    /* gap: 10px; */
}

.playnow span{
    font-size: 15px;
    padding: 3px 0px;    
    
}

.songinfo{
    font-size: 15px;
    width: 350px;
}

.right{
    max-height: 95vh;
    position: relative;
}

.header{
    justify-content: space-between;
    /* background-color: #343434; */
}

.btns button{
    padding: 7px 20px;
    border-radius: 30px;
    border: black;
    cursor: pointer;
}

.btns button:first-child{
    background: transparent;
    color: grey;
    font-weight: bold;
}

.btns button:first-child:hover{
    color: rgb(227, 227, 227);
    font-size: 1rem;
}

.login:hover{
    font-weight: bold;
    
}

.spotifyplaylist{
    padding: 8px;
}

.spotifyplaylist h1{
    padding-bottom: 30px;
}

.cardscontainer{
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
    
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    position: relative; 
    transition: all .9s; 

}

.card>*{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 110px;
    right: 15px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

/* .play:hover{

} */

.playbar{
    position: fixed;
    bottom: 0;
    /* background: rgb(52, 125, 52); */
    filter: invert(1);
    background: #dad5d5;
    border-radius: 30px;
    padding: 10px;
    width: 70vw;
    bottom: 20px;
    min-height: 40px;
}

.seekbar{
    height: 2px;
    background:  black;
    width: 96%;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    margin: 3px 10px;
    cursor: pointer;
}

.circle{
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background-color: black;
    position: relative;
    bottom: 7px;
    left: 0%;

}

.songbutns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.songbutns img{
    cursor: pointer;
}

.songinfoo{
    width: 250px;
}

.songtime{
    width: 125px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 13px 0px;
    color: black;
}

.close{
    display: none;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}


@media (max-width:1050px) {
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 380px;
        padding: 0;
    }

    .close{
        display: block;
        position: absolute;
        right: 8px;
        top: 32px;
        width: 35px;
    }
    .right{
        width: 100vw;
        margin: 0;  
    }

    .playbar{
        width:calc(100vw - 60px);
    }
    .seekbar{
        width: calc(100vw - 80px);
    }

    .hamburger{
        display: block;
    }

    .card{
        width: 25vw;
    }

    .abovebar{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .songinfoo, .songtime{
        width: auto;
    }

    .cardscontainer{
        margin: 0px;
        justify-content: center;
    }

    .timevol{
        flex-direction: column;
        gap: 15px;
    }

    .cardscontainer{
        max-height: 60vh;
        
    }
}

@media (max-width:400px){
    .card{
        width: auto;
    }

    .header>*{
        padding: 2px;
    }

    .buttons>*{
        margin: 0px 2px;
    }

    .nav{
        width: 70px;
    }
}